<div class="container-fluid bg">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4"><br><br><br>
            <div style="background-color: lightblue;">
                <h2 style="text-align: center;">ContactUs</h2><br>

                <h4 style="margin: 20px;">First Name:{{fname|uppercase}}</h4>
                <h4 style="margin: 20px;">Last Name:{{lname|uppercase}}</h4>
                <h4 style="margin: 20px;">Last Name:{{lname|uppercase}}</h4>
                <h4 style="margin: 20px;">Email:{{email|lowercase}}</h4>
                <h4 style="margin: 20px;">City:{{city|titlecase}}</h4>
                <h4 style="margin: 20px;">State:{{state|uppercase}}</h4><br>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div><br><br>
</div>